<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>MeWithMe supports everyday moments of being alone — and then quietly withdraws as those moments stand on their own.
          </p>
      </div>
      <div class="col-lg-4">
        <p> As a temporary structure for positive solitude, MeWithMe is successful when it becomes irrelevant.</p>
      </div>
    </div>
  </div>
</section>
